.dashboard--parent{
    height:100vh;
    background: url("../images/IMG_0318.JPG");
    display:flex;
    align-items: center;
    justify-content: center;
}

.dashboard--child{
    max-height: 80vh;
    overflow-y: auto;
    
    background-color: white;
    border-radius: 20px ;
    padding-top: 20px, 20px;
    width: 50%;
    box-shadow: 5px, 5px, 5px rgba(0,0,0,0.5);
    padding-left: 10px;
}

.btn-flat {
    background-color: purple;
    color: white;
}

.btn-xxl {
    padding: 1rem 1.5rem;
    font-size: 1.5rem;
}

.dashboard--buttons{
    
    display:flex;
    padding-top: 20px, 20px;
    box-shadow: 5px, 5px, 5px rgba(0,0,0,0.5);
    margin: 10px 10px 10px 10px;
    justify-content: space-around;
    
}

.btn-clockin {
    background-color: rgb(11, 128, 0);
       
    padding: 1rem 1.5rem;
    font-size: 1.5rem;
}

.btn-clockin-size {
    padding: 1rem 1.5rem;
    font-size: 1.5rem;
}