.Login--background{
  height:100vh;
  background: url("../images/IMG_0318.JPG");
}

.LogInPage-parent {
  height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
  
.LogInPage-child {
  background-color: white;
  display:flex;
  padding-top: 20px, 20px;
  
  box-shadow: 5px, 5px, 5px rgba(0,0,0,0.5);
}
  
  
  
.masthead{
    min-height: 100vh;
    position: relative;
}

  
form {
   background-color: white;
   box-shadow: 5px, 5px, 5px rgba(0,0,0,0.5);
   
}