.tableRow{
    width: 300px;
    font-size: 12px;
    flex: 0 0 auto;         /* ADD */
    display: flex;          /* ADD */
    flex-direction: row; /* ADD */
}

.FTC--DateTimePickerBox{
    height: 28vh;
}

.timeDatePicker{
    position: absolute;
    margin-bottom: 10px;
    display: flex;
    flex: auto;
}

.radiobuttons{
    display: flex;
    
    justify-content: center;
}

.FTC--SubmitButton{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    vertical-align: bottom;
}


.navbar-brand {
    transition: transform 0.5s;
}

.navbar-brand:hover {
    transform: rotate(360deg);
}
  